In [3]:
from PIL.features import features
from sklearn import datasets
iris = datasets.load_iris()
print("Day1/800 iris dataset loaded successfully!")

Day1/800 iris dataset loaded successfully!

In [5]:
print(iris.data[:5])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [6]:
print(iris.target[:5])

[0 0 0 0 0]

In [7]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [8]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [12]:
import pandas as pd
df = pd.DataFrame(data= iris.data, columns= iris.feature_names)
df['target'] = iris.target
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.10000,3.50000,1.40000,0.20000,0
1,4.90000,3.00000,1.40000,0.20000,0
2,4.70000,3.20000,1.30000,0.20000,0
3,4.60000,3.10000,1.50000,0.20000,0
4,5.00000,3.60000,1.40000,0.20000,0
5,5.40000,3.90000,1.70000,0.40000,0
6,4.60000,3.40000,1.40000,0.30000,0
7,5.00000,3.40000,1.50000,0.20000,0
8,4.40000,2.90000,1.40000,0.20000,0
9,4.90000,3.10000,1.50000,0.10000,0